{% extends 'base.html' %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
   
    {% block pagecontent %}
    <!-- {% if alert_flag %}
    <script>alert("comment is saved.!!")</script>  
    {% endif %} -->
    <a href="#" data-toggle="tooltip" title="Hooray!">Tooltip Example</a>
    
    <div class="container  m-auto rounded shadow-xl" style="padding: 100px;">
        <div class="row">
         
          <div class="col-md-12">
    
              <div class="card mb-6 shadow-sm">
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <form method="POST" action="/savecomments/{{user.id}}/{{blog.id}}">
                <div class="card-body">
                
                  <small class="text-muted">Posted On : {{blog.posted}}</small>
                  <p class="card-text"><a href="#" style="font-family: Arial, Helvetica, sans-serif;font-size: xx-large;text-decoration:none;color: black;">{{blog.title}}</a></p>
                  <p class="card-text" style="font-family: Arial, Helvetica, sans-serif;font-size: larger;">{{blog.body}}</p>
                <label style="display: none;" class="blog_user_id">{{user.id}}</label>
                  <div class="d-flex justify-content-between align-items-center" style="background-color: #ddd;padding: 10px;">
                  
                      <div class="row">
                        <div class="col-md-2">
                          <a href=""  id="lb"   class="fa fa-thumbs-o-up" style="text-decoration: none;">{{blog.likes}} <label style="display: none;" class="ids">{{blog.id}}</label></a>        
                          <a href=""  id="ld"  class="fa fa-thumbs-o-down" style="text-decoration: none;margin-left:15px;">{{blog.dislikes}} <label style="display: none;" class="ids">{{blog.id}}</label></a>    
                        </div>
                        
                        <div class="col-md">
                          <input type="text" class="commentss" name="blogcomment" placeholder="Write a comment" style="margin-left: 5px;border-radius: 16px;background-color:#f2f3f5;border:1px solid #ccd0d5;display: flex;justify-content: flex-end;padding: 8px 12px;cursor: text;width:400px;">
                        
                        </div>
                        <div class="col-md">
                          <button type="submit" href="" class="btn post" style="border:1px solid blue;">Post</button>
                        </div>
                        <div class="col-md">
                         
                          <!-- {% post_to_whatsapp object_or_url "Share via WhatsApp" %}
                          {% post_to_facebook object.title "Post to Facebook!" %} -->
                        
                        </div>
                    
                                            
                          <!-- {% post_to_gplus object_or_url "Post to Google+!" %}
                          {% send_email object.title "New Song: {{object.title}}. Check it out!" object_or_url "Share via email" %}
                        </div> -->
                      
                      
                      </div>
                    
                      
                    
                    
                    
                    </div>

                  
                   
            
                   
                  </div>
                </form>
                <br>
               
                   
                </div>
                
              </div>
           

          </div>
         
               
          
          
            
            
                
         
               
               <div class="card-body">
               
                <div class="row">
                 
                  <div class="col-md-12 bg-dark">
                    <p  style="color:white;font-family:Arial, Helvetica, sans-serif;font-size:larger;padding-bottom: 0px;margin-top:10px;">Comments</p>
                   </div>
                  
                   {%if commentss%}
                  <div class="col-md-12" style="background-color: white;">
                    
                 {% for i in  commentss%}
               
                 <div class="col-md-12" style="margin-top:10px;">
                  <div class="row" style="margin-top: 10px;margin-bottom: 5px;">
                    <div class="col-md-10">
                      <label style="font-family: Arial, Helvetica, sans-serif;font-size:larger;"><b>{{i.user}}</b></label>
                      <label style="font-family: Arial, Helvetica, sans-serif;font-size:medium;">{{i.comments}}</label>
                    </div>
                    
                    <div class="col-md-2">
                      <label style="display: none;" class="user_is_superuser" >{{user.is_superuser}}</label>
               
                        {% if user.is_superuser%}
                        <a href="" class="btn btn-danger confirmdelete">Delete<label style="display: none;">{{i.id}}</label><label style="display: none;">{{i.blogid}}</label></a>
                        {%endif%}
                      
                    </div>
                  </div>
                  
                        
                     
              
                </div>
               

                
               
                {%endfor%}
                {%else%}
               
                
                <br>
            </div>
          
            <div class="row">
              <div class="col-md-12" style="background-color: white;">
                <br>
                  <p style="font-family: Arial, Helvetica, sans-serif;font-size:large;margin-top:10px;"> There is no comments</p>
               </div>
               </div>
             
             {%endif%}
            </div>
              </div>
               </div>
               
              
             
          
           </div>
          
          </div>
        </div>
      </div>
    {% endblock %}  
    
</body>
</html>