{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="{% static 'js/blog.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <script src="{% static 'js/blog.js' %}"></script> -->
</head>
<body style="background-color: #ddd;">
  
    <header>
     
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">     
          <img src="{% static 'images/blog.jfif' %}" class="blog_image"/>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="navbarCollapse">
            {%if categories%}
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'blogpage' %}" ><span class="firstnav" style="font-size: large;font-family: Arial, Helvetica, sans-serif;">Home</span></a>
              </li>
                {% for category in categories%}
               
              <li class="nav-item">
                <a class="nav-link" href="{%url 'get_blogs' category.id %}" ><span class="firstnav" style="font-size: large;font-family: Arial, Helvetica, sans-serif;">{{category.title}}</span></a>
              </li>
                {%endfor%}
            </ul>
            {% endif%}  
            <form class="form-inline mt-2 mt-md-0">
              <label class="userauth" style="display: none;">{{user.is_authenticated}}</label>
              {% if user.is_authenticated %}
              <p style="font-family: Arial, Helvetica, sans-serif;color:#ddd;font-size:large;margin-top: 10px;margin-right:10px;">Welcome, {{ user.username }} !</p>
             
              {% else %}
             
              
             
              {% endif %}
              <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
            <a class="btn btn-outline-success" type="submit" href="{% url 'logout' %}">Logout</a>
            </form>
          </div>
        </nav>
      </header>
      <!-- <main role="main" class="container"> -->
      {% block pagecontent %}
      
      {% endblock %}

    <!-- </main> -->
      <footer class="footer" style="background-color: black;">
        
          <span style="color: white;">Copyright © 2020 . Powered by Blog</span>
        
       </footer>
       
              
              <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: lightgray;">
                      <h5 class="modal-title" style="font-family:Arial, Helvetica, sans-serif;">Login</h5>
                      
                    </div> 
                    <div class="modal-body" style="padding:80px;">
                      <a href="{% provider_login_url 'google' %}"><img src="{% static 'images/signin-google-3.png' %}" class="blog_image" style="width: 300px;text-align: center;"/></a>
                     
                    </div>
                    
                  </div>
                </div>
              </div>
       </body>
</html>