.blog_image{
    width: 75px;
    height: 60px;
    border-radius:1em;
}

.firstnav{
    margin-left: 20px;
}
.nav-link  :hover{
    color: active;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#ddd;
    color:black;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
 }